html {
  width: 100%;
  height: 110%;
  margin: 0;
  overflow: hidden;
}

body {
  height: inherit;
  width: inherit;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

#app{
  position: fixed;
  width: 100%;
  height: 2000px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}